<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Izbornik ranjivosti</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/XSS">XSS ranjivost</a>
        </li> 

        <li class="nav-item">
            <a class="nav-link" href="/BAC">Bad Access Control ranjivost</a>
        </li> 
        <% if(BAC && isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link" href="/BAC/logout">Log out</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/mentor">Mentor stranica</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/student/1">Student 1</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/student/2">Student 2</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/student/3">Student 3</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/documents/1">Dokument 1</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/documents/2">Dokument 2</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/BAC/documents/3">Dokument 3</a>
            </li> 
            
            <li class="nav-item">
                <a class="nav-link" href="/BAC/documents/4">Dokument 4</a>
            </li> 
        <% } %>
      </ul>
    </div>
</nav>